.eliminar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  padding: $pGeneral;
  background-color: $bkColor;
  box-shadow: $sombraGeneral;
  border-radius: $rdsChico;
  border: 3px solid;
  text-align: center;
  z-index: 2;

  h2 {
    color: #fff;
    position: absolute;
    top: -15px;
    padding: $pMedio;
    border-radius: $rdsChico;
    background-color: $errorColor;
    font-size: $textSizeGrande;
    border: #000 3px solid;
    box-shadow: $sombraGeneral;
  }

  .aviso__eliminar {
    font-size: $textSizeGeneral;
    padding: $pGeneral;
    width: 80%;
    position: relative;
    top: 10%;
  }

  .datos__eliminar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 8%;
    gap: 1rem;
    background-color: $contColor;
    padding: $pChico;
    border-radius: $rdsChico;

    p {
      color: #fff;
      padding: $pChico;
      border-radius: $rdsChico;
      font-size: $textSizeGeneral;
      border: #000 3px solid;
      box-shadow: $sombraGeneral;
      background-color: $itemsColor;
    }

    .tabla__datos__cliente {
      border-collapse: collapse;
      width: 100%;
      max-width: 800px;
      position: relative;

      tbody {
        background-color: $bkColor;
      }

      th,
      td {
        border: 4px solid $itemsColor;
        padding: $pChico;
        text-align: center;
        font-size: $textSizeGeneral;
      }

      td {
        width: 34%;
        text-align: center;
        font-size: $textSizeGeneral;
      }

      th {
        background-color: $bkColor;
      }

      tr {
        transition: 0.2s ease;
      }
    }
  }
}