.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 20%;
    border-top: $itemsColor solid 8px;
    transition: all 0.4s ease;

    section {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $contColor;
        width: 100%;

        p {
            transition: all 0.4s ease;
            color: #fff;
            font-size: $textSizeMuyGrande;
        }
    }
}

.clienteToco {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 25%;
    border-top: $itemsColor solid 8px;
    transition: all 0.4s ease;

    section {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $contColor;
        width: 100%;

        p {
            color: #fff;
            font-size: 55px;
            padding: $pChico;
            border-bottom: 5px solid $itemsColor;
            transition: all 0.4s ease;
            cursor: pointer;

            &:hover{
                border: 0;
                padding: $pGeneral;
            transition: all 0.1s ease;
                background-color: $itemsColor;
                border-radius: $rdsGeneral;
            }
        }
    }
}