header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: $pGeneral;
    height: 25%;

    .contenedor__buscador {
        border-radius: $rdsGeneral;
        height: 100%;
        width: 45%;
        background-color: $contColor;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $sombraGeneral;

        .buscador {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: relative;

            h2 {
                position: absolute;
                top: 0;
                padding: $pChico;
                text-align: center;
                width: 60%;
                background-color: $bkColor;
                font-size: $textSizeGeneral;
                border-radius: 0 0 20px 20px;
            }

            p {
                font-size: $textSizeGeneral;
                width: 85%;
                position: absolute;
                z-index: 1;
                pointer-events: none;
                opacity: 0.5;
            }

            .img__buscador {
                position: absolute;
                right: 7%;
                background-color: $itemsColor;
                padding: $pChico;
                width: 33px;
                height: 33px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    pointer-events: none;
                    height: 23px;
                    width: 22px;
                }
            }

            input {
                border: 0;
                border-radius: $rdsGeneral;
                width: 90%;
                font-size: $textSizeGrande;
                padding: $pChico;
                transition: 0.2s ease;

                &:hover {
                    background-color: $itemsColor;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .contenedor__filtros {
        border-radius: $rdsGeneral;
        height: 100%;
        width: 45%;
        box-shadow: $sombraGeneral;
        background-color: $contColor;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        h2 {
            color: #fff;
            background: $itemsColor;
            padding: $pChico;
            border-radius: $rdsGeneral;
            text-align: center;
            width: 100px;
            box-shadow: $sombraGeneral;
        }

        .checkboxContainer {
            display: flex;
            gap: 20px;

            .checkBox {
                display: flex;
                gap: 10px;
                color: #fff;
                background: $itemsColor;
                padding: $pChico;
                border-radius: $rdsGeneral;
                text-align: center;
                width: auto;
                box-shadow: $sombraGeneral;

                label {
                    font-size: $textSizeGeneral;
                }
            }



        }

        .numberContainer {
            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                color: #fff;
                background: $itemsColor;
                padding: $pChico;
                border-radius: $rdsGeneral;
                text-align: center;
                box-shadow: $sombraGeneral;

                input {
                    border: 1px solid #fff;
                    border-radius: $rdsGeneral;
                    padding: $pChico;
                    font-size: $textSizeGeneral;
                    width: 50px;
                    transition: 0.2s ease;
                    text-align: center;

                    &:hover {
                        border: 1px solid $contColor;
                        background-color: $itemsColor;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                label {
                    font-size: $textSizeGeneral;
                }

                /* Eliminar los controles de incremento/decremento en input tipo number */
                input[type="number"] {
                    -webkit-appearance: textfield;
                    /* Safari/Webkit */
                    appearance: textfield;
                    /* Otros navegadores */
                }

                /* Estilos adicionales para el input number si es necesario */
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    /* Safari/Webkit */
                    appearance: none;
                    /* Otros navegadores */
                    margin: 0;
                    /* Asegurar que no haya margen alrededor de los botones */
                }
            }
        }
    }
}