header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: 25%;
    .contenedor__buscador{
        border-radius: $rdsGeneral;
        height: 100%;
        width: 40%;
        background-color: $contColor;
        display: flex;
        align-items: center;
        justify-content: center;
        .buscador{
            input{

            }
        }
    }

    .contenedor__filtros{
        border-radius: $rdsGeneral;

        height: 100%;
        width: 40%;
        

        background-color: $contColor;
        p{

        }
    }
}