.historial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 70%;
  background-color: $bkColor;
  gap: 90px;

  div {
    display: flex;
    gap: 5%;

    &:hover {
      background-color: $itemsColor;
    }
  }
}
