.home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;

    main {
        width: 80%;
        background-color: $contColor;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: $rdsChico;
        box-shadow: $sombraGeneral;
        position: relative;

        .btn__creador__abrir {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $itemsColor;
            gap: 5px;
            padding: $pChico;
            border-radius: $rdsChico;
            box-shadow: $sombraGeneral;
            position: absolute;
            z-index: 1;
            right: 5%;
            top: 5%;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                scale: 1.1;
            }

            p {
                color: #fff;
                font-size: $textSizeGeneral;
            }

            svg {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
        }

        .creador {
            padding: $pGeneral;
            position: absolute;
            height: 130%;
            width: auto;
            z-index: 1;
            background-color: $bkColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: $sombraGeneral;
            border-radius: $rdsChico;
            border: 3px solid;

            h2 {
                color: #fff;
                position: absolute;
                top: -15px;
                padding: $pChico;
                border-radius: $rdsChico;
                background-color: $itemsColor;
                font-size: $textSizeGrande;
                border: #000 3px solid;
                box-shadow: $sombraGeneral;
            }

            .btn__creador__cerrar {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $errorColor;
                gap: 5px;
                padding: $pChico;
                border-radius: $rdsChico;
                box-shadow: $sombraGeneral;
                position: absolute;
                z-index: 1;
                right: 3%;
                top: 3%;
                transition: 0.2s ease;
                cursor: pointer;

                &:hover {
                    scale: 1.1;
                }

                svg {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                }
            }

            .btn__siguiente__productos {
                position: absolute;
                bottom: -15px;
                border-radius: $rdsChico;
                background-color: $correctoColor;
                border: 3px solid;
                transition: 0.2s ease;
                box-shadow: $sombraGeneral;
                cursor: pointer;

                p {
                    padding: $pGeneral;
                    color: #fff;
                    text-align: center;
                    font-size: $textSizeGeneral;
                }

                &:hover {
                    scale: 1.1;
                }
            }

            .btn__volver__productos {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $itemsColor;
                gap: 5px;
                padding: $pChico;
                border-radius: $rdsChico;
                box-shadow: $sombraGeneral;
                position: absolute;
                z-index: 1;
                left: 3%;
                top: 3%;
                transition: 0.2s ease;
                cursor: pointer;

                &:hover {
                    scale: 1.1;
                }

                svg {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                }

            }

            .campos__cliente {
                width: auto;
                height: auto;
                padding: $pGeneral;
                flex-direction: column;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                align-items: center;
                justify-content: center;
                background-color: $contColor;
                box-shadow: $sombraGeneral;
                border-radius: $rdsGeneral;
                border: 3px solid;

                .campo__cliente {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    label {
                        color: #fff;
                        font-size: $textSizeGeneral;
                    }

                    input {
                        padding: $pChico;
                        font-size: $textSizeGeneral;
                        border-radius: $rdsChico;
                        border: 0;
                        transition: 0.2s ease;

                        &:hover {
                            background-color: $itemsColor;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .contenedor__campos__productos {
                display: flex;
                gap: 10px;

                .campos__productos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding: $pMedio;
                    background-color: $contColor;
                    box-shadow: $sombraGeneral;
                    border-radius: $rdsGeneral;
                    border: 3px solid;

                    p {
                        border: #000 3px solid;

                        padding: $pMedio;
                        color: #fff;
                        font-size: $textSizeChico;
                        border-radius: $rdsChico;
                        background-color: $itemsColor;
                    }

                    .campo__producto {
                        display: flex;
                        flex-direction: column;
                        padding: $pChico;
                        margin: 10px;
                        font-size: $textSizeGeneral;
                        border-radius: $rdsChico;
                        border: 0;
                        transition: 0.2s ease;

                        &:hover {
                            background-color: $itemsColor;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }


            }

            .btn__crear {
                position: absolute;
                bottom: -15px;
                padding: $pChico;
                border-radius: $rdsChico;
                background-color: $correctoColor;
                color: #fff;
                font-size: $textSizeMuyGrande;
                border: #000 3px solid;
                box-shadow: $sombraGeneral;
                transition: 0.2s ease;
                cursor: pointer;

                &:hover{
                    scale: 1.1;
                }
            }

        }

        .contenedor__titulo {
            position: relative;
            bottom: 20px;
            background-color: $itemsColor;
            padding: $pGeneral;
            border-radius: $rdsGeneral;
            box-shadow: $sombraGeneral;

            h2 {
                color: #fff;
                font-size: $textSizeMuyGrande;
            }
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: $bkColor;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: $rdsGeneral;
            background: $itemsColor;
        }

        .contenedor__datos {
            box-shadow: $sombraGeneral;
            height: 300px;
            overflow: auto;
            background-color: $bkColor;

            table {
                border-collapse: collapse;
                width: 100%;
                max-width: 800px;
                position: relative;

                tbody {
                    background-color: $bkColor;
                }

                th,
                td {
                    border: 4px solid $itemsColor;
                    padding: $pChico;
                    text-align: center;
                    font-size: $textSizeGeneral;
                }

                td {
                    width: 16%;
                    text-align: center;
                    font-size: $textSizeGeneral;
                }

                th {
                    background-color: $bkColor;
                }

                tr {
                    transition: 0.2s ease;
                    cursor: pointer;
                }

                tr:hover {
                    background-color: $itemsColor;
                }
            }
        }
    }

    .circle {
        position: absolute;
        background-color: $decoColor;
        width: 100%;
        height: 500px;
        z-index: -1;
        box-shadow: $sombraDeco;
    }

    .circle:first-child {
        bottom: 115%;
        border-radius: 30%;
        right: 0;
    }

    .circle:last-child {
        top: 75%;
        border-radius: 30%;
        right: 0;
    }
}