.btn__volver {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $itemsColor;
  gap: 5px;
  padding: $pChico;
  border-radius: $rdsChico;
  box-shadow: $sombraGeneral;
  position: absolute;
  z-index: 1;
  left: 3%;
  top: 3%;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }

  svg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}

.btn__cerrar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $errorColor;
  gap: 5px;
  padding: $pChico;
  border-radius: $rdsChico;
  box-shadow: $sombraGeneral;
  position: absolute;
  z-index: 1;
  right: 3%;
  top: 3%;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }

  svg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
