.editor {
  padding: $pGeneral;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 2;
  background-color: $bkColor;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $sombraGeneral;
  border-radius: $rdsChico;
  border: 3px solid;

  .contenedor__campo__editor {
    padding: $pGeneral;

    .campos__editor {
      width: auto;
      height: auto;
      padding: $pGeneral;
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      justify-content: center;
      background-color: $contColor;
      box-shadow: $sombraGeneral;
      border-radius: $rdsGeneral;
      border: 3px solid;

      label {
        color: #fff;
        font-size: $textSizeGeneral;
      }

      .contenedor_campos {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .campo__editor {
          padding: $pChico;
          font-size: $textSizeGeneral;
          border-radius: $rdsChico;
          border: 0;
          transition: 0.2s ease;

          &:hover {
            background-color: $itemsColor;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .check__editor {
        padding: $pChico;
        background-color: $bkColor;
        border-radius: $rdsChico;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;

        label {
          font-size: $textSizeGeneral;
          color: $decoColor;
        }

        .mycheck {
          border-radius: 50%;
          cursor: pointer;
          background-color: $bkColor;
          width: 20px;
          height: 20px;
          appearance: none;
          border: 2px solid;
          border-color: $itemsColor;
          transition: background-color 0.3s ease;
        }

        .mycheck:checked {
          background-color: $itemsColor;
        }
      }
    }
  }
}
