.eliminar__producto {
  padding: $pGeneral;
  position: absolute;
  height: 110%;
  z-index: 2;
  background-color: $bkColor;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $sombraGeneral;
  border-radius: $rdsChico;
  border: 3px solid;
}
