@font-face {
    font-family: 'League Spartan';
    src: url('../font/LeagueSpartan-Regular.ttf') format('truetype');
}

* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.25);
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

$bkColor: #ecdada;
$contColor: #4b3f34;
$itemsColor: #2473bb;
$decoColor: #313030;

$rdsGeneral: 20px;
$rdsChico: 10px;

$sombraGeneral: 6px 6px 30px rgba(0, 0, 0, 0.25);


$textSizeMuyGrande: 45px;
$textSizeGrande: 30px;
$textSizeGeneral: 20px;
$textSizeChico: 15px;


$pGeneral: 20px;
$pChico: 5px;



@import './style_components/Home.scss';
@import './style_components/Footer.scss';
@import './style_components/Header.scss';
@import './style_components/Editar.scss';