*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#root{
    width: 100%;
    height: 100%;
}

$bkColor: #ECDADA;
$contColor: #4B3F34;
$itemsColor: #2473BB;
$decoColor: #313030;

$rdsGeneral: 20px;
$rdsChico: 10px;

@import "./style_components/Home.scss";
@import "./style_components/Footer.scss";
@import "./style_components/Header.scss";