$bkColor: #ecdada;
$bkFondoColor: #aec6e2;
$contColor: #110f79;
$itemsColor: #2473bb;
$decoColor: #000;
$errorColor: rgb(187, 36, 36);
$correctoColor: rgb(4, 127, 37);

$bordes: #000 3px solid;
$rdsGeneral: 20px;
$rdsChico: 10px;

$sombraGeneral: 6px 6px 30px rgba(0, 0, 0, 0.25);
$sombraDeco: 0px 0px 30px 20px rgba(0, 0, 0, 0.25);

$textSizeMuyGrande: 46px;
$textSizeGrande: 32px;
$textSizeGeneral: 22px;
$textSizeChico: 16px;

$pGeneral: 20px;
$pMedio: 9px;
$pChico: 5px;

@font-face {
  font-family: 'League Spartan';
  src: url('../font/LeagueSpartan-Regular.ttf') format('truetype');
}

* {
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $bkFondoColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.25);
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}

p{
  text-wrap: pretty;
}

@import './style_components/Home.scss';
@import './style_components/Observar.scss';
@import './style_components/Papelera.scss';
@import './style_components/../style_components/NotificadorPagos.scss';

@import './style_components/Footer.scss';
@import './style_components/Header.scss';

@import './style_components/Eliminar.scss';
@import './style_components/Crear.scss';
@import './style_components/CrearProducto.scss';

@import './style_components/stylesObservar/EditarProducto.scss';
@import './style_components/stylesObservar/EliminarProducto.scss';
@import './style_components/stylesObservar/PagoProducto.scss';

@import './style_components/items/botones/BtnAtras.scss';
@import './style_components/items/botones/BtnFuncion.scss';
@import './style_components/items/Titulos.scss';
@import './style_components/items/Menus.scss';
